In [ ]:
import numpy as np
import pandas as pd

You have to do :
1. Separate categorical columns and Numerical columns . When you have separate categorical data then you have to replace its sub-categories to numbers i.e. has_covid[yes,no] ---> has_covid[0,1] .
2. Check if there are missing values are or not ? If there are then handle missing values .
3. You have to rename 3 column names of Numerical columns .
4. You have to filter 15-25 rows with all columns of Categorical  columns .
5. You have to check statically view of Nummerical columns .
6. You have to export categorical data into csv format and Nummerical data into excel format .
7. In your Numerical data , you have to arrange data in ascending order using a single column .

In [11]:
df = pd.read_csv('/content/Attrition.csv')
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [12]:
# Separate categorical columns and Numerical columns . When you have separate
# categorical data then you have to replace its sub-categories to numbers
# i.e. has_covid[yes,no] ---> has_covid[0,1]

In [13]:
df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeCount                int64
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
Over18                      object
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StandardHours                int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [14]:
numerical_df = df.select_dtypes(include = 'int64')
numerical_df.sample()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1062,44,1193,2,1,1,1496,2,86,3,3,...,2,80,0,16,2,2,2,2,2,2

In [15]:
categorical_df = df.select_dtypes(include = 'object')
categorical_df.sample()

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
320,No,Travel_Rarely,Sales,Life Sciences,Male,Sales Executive,Single,Y,Yes

In [16]:
categorical_df.columns

Index(['Attrition', 'BusinessTravel', 'Department', 'EducationField', 'Gender',
       'JobRole', 'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

In [17]:
print(categorical_df['Attrition'].unique())
print(categorical_df['BusinessTravel'].unique())
print(categorical_df['Department'].unique())
print(categorical_df['EducationField'].unique())
print(categorical_df['Gender'].unique())
print(categorical_df['JobRole'].unique())
print(categorical_df['MaritalStatus'].unique())
print(categorical_df['Over18'].unique())
print(categorical_df['OverTime'].unique())

['Yes' 'No']
['Travel_Rarely' 'Travel_Frequently' 'Non-Travel']
['Sales' 'Research & Development' 'Human Resources']
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']
['Female' 'Male']
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']
['Single' 'Married' 'Divorced']
['Y']
['Yes' 'No']

In [18]:
categorical_df['Attrition'] = categorical_df['Attrition'].map({'Yes':1,'No':0})
categorical_df['BusinessTravel'] = categorical_df['BusinessTravel'].map({'Travel_Rarely':1,'Travel_Frequently':0,'Non-Travel':2})
categorical_df['Department'] = categorical_df['Department'].map({'Sales':0,'Research & Development':1,'Human Resources':2})
categorical_df['EducationField'] = categorical_df['EducationField'].map({'Life Sciences':0,'Medical':1,'Marketing':2,'Technical Degree':3,'Human Resources':4, 'Other':5})
categorical_df['Gender'] = categorical_df['Gender'].map({'Female':0,'Male':1})
categorical_df['JobRole'] = categorical_df['JobRole'].map({'Sales Executive':0, 'Research Scientist':1, 'Laboratory Technician':2,
                                                           'Manufacturing Director':3, 'Healthcare Representative':4, 'Manager':5,
                                                           'Sales Representative':6, 'Research Director':7, 'Human Resources':8})
categorical_df['MaritalStatus'] = categorical_df['MaritalStatus'].map({'Single':0,'Married':1,'Divorced':2})
categorical_df['Over18'] = categorical_df['Over18'].map({'Y':1,'N':0})
categorical_df['OverTime'] = categorical_df['OverTime'].map({'Yes':1,'No':0})
categorical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Attrition       1470 non-null   int64
 1   BusinessTravel  1470 non-null   int64
 2   Department      1470 non-null   int64
 3   EducationField  1470 non-null   int64
 4   Gender          1470 non-null   int64
 5   JobRole         1470 non-null   int64
 6   MaritalStatus   1470 non-null   int64
 7   Over18          1470 non-null   int64
 8   OverTime        1470 non-null   int64
dtypes: int64(9)
memory usage: 103.5 KB

In [19]:
# 2. Check if there are missing values are or not ? If there are then handle missing values .
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

there are no missing values

In [20]:
# You have to rename 3 column names of Numerical columns .
numerical_df = numerical_df.rename(columns={'Age':'updated_age',
                             'Education':'updated_education',
                             'EmployeeCount':'updated_employee_count'})
numerical_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   updated_age               1470 non-null   int64
 1   DailyRate                 1470 non-null   int64
 2   DistanceFromHome          1470 non-null   int64
 3   updated_education         1470 non-null   int64
 4   updated_employee_count    1470 non-null   int64
 5   EmployeeNumber            1470 non-null   int64
 6   EnvironmentSatisfaction   1470 non-null   int64
 7   HourlyRate                1470 non-null   int64
 8   JobInvolvement            1470 non-null   int64
 9   JobLevel                  1470 non-null   int64
 10  JobSatisfaction           1470 non-null   int64
 11  MonthlyIncome             1470 non-null   int64
 12  MonthlyRate               1470 non-null   int64
 13  NumCompaniesWorked        1470 non-null   int64
 14  PercentSalaryHike         1470 non-null   int64
 15  PerformanceRating         1470 non-null   int64
 16  RelationshipSatisfaction  1470 non-null   int64
 17  StandardHours             1470 non-null   int64
 18  StockOptionLevel          1470 non-null   int64
 19  TotalWorkingYears         1470 non-null   int64
 20  TrainingTimesLastYear     1470 non-null   int64
 21  WorkLifeBalance           1470 non-null   int64
 22  YearsAtCompany            1470 non-null   int64
 23  YearsInCurrentRole        1470 non-null   int64
 24  YearsSinceLastPromotion   1470 non-null   int64
 25  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26)
memory usage: 298.7 KB

In [21]:
# You have to filter 15-25 rows with all columns of Categorical  columns .
categorical_df.iloc[15:25]

,Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus,Over18,OverTime
15,0,1,1,0,0,3,2,1,0
16,0,1,1,0,1,1,2,1,1
17,0,2,1,1,1,2,2,1,1
18,0,1,0,0,0,5,1,1,0
19,0,1,1,0,1,1,0,1,1
20,0,2,1,5,0,3,2,1,0
21,1,1,0,0,1,6,0,1,0
22,0,1,1,0,0,7,0,1,0
23,0,1,1,0,1,1,0,1,0
24,1,1,1,1,1,1,0,1,0

In [22]:
# You have to check statically view of Nummerical columns .
numerical_df.describe()

,updated_age,DailyRate,DistanceFromHome,updated_education,updated_employee_count,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

In [23]:
# You have to export categorical data into csv format and Nummerical data
# into excel format .
categorical_df.to_csv('categoricals.csv')
numerical_df.to_excel('numericals.xlsx')

In [24]:
# In your Numerical data , you have to arrange data in ascending order using
# a single column .
numerical_df = numerical_df.sort_values(by='updated_age')